* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.homepage {
  height: 700px;
  width: 100%;
  position: relative;
  display: table;
}

.newpage {
  height: 700px;
}

.title-home {
  display: table-cell;
  vertical-align: middle;
  text-align: left;
  padding: 0;
}

.title-20 {
  font-size: 20px;
  color: #6ed1f8;
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
}

.title-40 {
  line-height: 45px;
  font-size: 40px;
  color: #6ed1f8;
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
}

footer {
  height: 300px;
  padding: 40px 6px 5px 6px;
  box-sizing: border-box;
  display: table;
  margin: auto;
}

.container {
  display: flex;
}

.row {
  display: flex;
}

.column {
  flex: 50%;
  padding: 5px;
}

.footer-bg {
  background: #8497b0;
  width: 100%;
}

.rotate-img-90 {
  -webkit-transform:rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}

.home-image {
  height: 550px;
  width: 550px;
}

.home-images {
  overflow: hidden;
}
